
body {
    background-color: lightgrey;
}

a:hover {
    background-color: black;
    color: white;
}

a {
    color: black;
}

h1 {
    text-align: center;
    background-color: lightblue;
    max-width: 400px;
    margin: 20px auto;
    border: 4px solid black;
    border-radius: 8px;
}